In [1]:
import sqlite3

with sqlite3.connect('roster.db') as connection:
    cursor = connection.cursor()
    #create a table
    create = """
    Drop table if exists Roster;
    
    Create table Roster(
    Name text, 
    Species text, 
    Age int
    );
    """

    #insertion into a table

    insert= """
    Insert into Roster values
    ('Benjamin Sisko', "Human", 40),
    ("Jadzia Dax", "Trill" , 300),
    ("Kira Nerys", "Bajoran", 29);
    
    """
    #used executescript to execute several scripts simultanously

    cursor.executescript(create)
    cursor.executescript(insert)

    #commit all changes
    connection.commit()

    #close the cursor
    cursor.close()

In [2]:
#update query

with sqlite3.connect('roster.db') as connection:
    cursor= connection.cursor()
    #setting '?' instead of actual names to prevent sql injection attack
    update = """UPDATE Roster
              SET name=?
              WHERE Name=? 

    """
    #actual values
    new_name= 'Ezri Dax'
    old_name = "Jadzia Dax"

    #exute a query
    cursor.execute(update,(new_name,old_name))

    #save all changes
    connection.commit()

    #display message
    print("Record Updated successfully!")

    #close the cursor
    cursor.close()

Record Updated successfully!

In [3]:
#4. Query Data

with sqlite3.connect('roster.db') as con:
    """Retrieve and display the Name and Age of all characters where the Species is Bajoran."""
    cursor=con.cursor()

    query=""" 
        SELECT Name, Age
        FROM Roster
        WHERE Species = ?;
        """
    species = 'Bajoran'
    
    data = cursor.execute(query,(species,))

    #fetching all data
    rows = data.fetchall()

    for row in rows:
        print(f"First name: {row[0]}, Age: {row[1]}")

    #close the cursor
    cursor.close()

First name: Kira Nerys, Age: 29

In [4]:
#5.Delete a data

with sqlite3.connect('roster.db') as con:
    cursor=con.cursor()

    """ Remove all characters aged over 100 years from the table."""

    delete = """
            DELETE FROM Roster
            Where Age > ?
    """

    remove_age = 100

    cursor.execute(delete, (remove_age,))

    con.commit()
    print("Record deleted successfully")

    cursor.close()

Record deleted successfully

In [5]:
#Add new column

with sqlite3.connect('roster.db') as connection:
    cursor = connection.cursor()

    add_column_query = """ 
            ALTER TABLE Roster
            ADD COLUMN Rank TEXT
    """

    cursor.execute(add_column_query)

    update_query = """ 
                UPDATE Roster  
                SET Rank = ?
                WHERE Name =?;
                """
    
    rank1='Captain'
    name1='Benjamin Sisko'

    rank2 = 'Lieutenant'
    name2 = 'Ezri Dax'	

    rank3 = 'Major'
    name3 = 'Kira Nerys'

    cursor.execute(update_query,(rank1,name1))
    cursor.execute(update_query,(rank2,name2))
    cursor.execute(update_query,(rank3,name3))

    connection.commit()

    cursor.close()

In [6]:
#7.Retrieve data

with sqlite3.connect('roster.db') as c:
    cursor = c.cursor()
    ''' Retrieve all characters sorted by their Age in descending order.'''

    query =""" 
            SELECT * 
            FROM Roster
            ORDER BY Age DESC
        """
    
    cursor.execute(query)
    data=cursor.fetchall()

    for row in data:
        print(f"Name: {row[0]}, Species: {row[1]}, Age: {row[2]}, Rank: {row[3]} " )

    cursor.close()

Name: Benjamin Sisko, Species: Human, Age: 40, Rank: Captain
Name: Kira Nerys, Species: Bajoran, Age: 29, Rank: Major