In [24]:
import sqlite3

#create a table Books
with sqlite3.connect("library.db") as connection:

    cursor=connection.cursor()

    create = """ 
        DROP Table if exists Books;

        Create Table Books(
        Title TEXT,
        Author TEXT,
        Year_Published INT,
        Genre TEXT
        );
    """
    cursor.executescript(create)
    connection.commit()
    cursor.close()

In [25]:
#insert Data
with sqlite3.connect('library.db') as connection:
    cursor = connection.cursor()

    insert = """ 
            INSERT INTO Books values
            ("To Kill a Mockingbird","Harper Lee", 1960, "Fiction"),
            ("1984", "George Orwell", 1949, "Dystopian"),
            ("The Great Gatsby", "F. Scott Fitzgerald", 1925, "Classic");
            """
    cursor.executescript(insert)

    connection.commit()
    cursor.close()

In [26]:
#Update data
'''Update the Year_Published of 1984 to 1950.'''

with sqlite3.connect('library.db') as con:
    cursor = con.cursor()
    query =""" 
        UPDATE Books
        SET Year_Published = ?
        WHERE Title = ?
    """
new_year = 1950
title = '1984'

cursor.execute(query,(new_year,title))

con.commit()
cursor.close()

In [27]:
'''4.Retrieve and display the Title and Author of all books where the Genre is Dystopian.'''
with sqlite3.connect('library.db') as con:
    cursor = con.cursor()
    query =""" 
            SELECT  Title, Author
            FROM Books
            WHERE Genre = ?
    """
    genre = 'Dystopian'

    cursor.execute(query,(genre,))

    data = cursor.fetchall()

    for row in data:
        print(f"Title : {row[0]}, Author: {row[1]}")

    
    cursor.close()

Title : 1984, Author: George Orwell

In [28]:
'''Remove all books published before the year 1950 from the table.'''
with sqlite3.connect('library.db') as con:
    cursor = con.cursor()
    query =""" 
            DELETE 
            FROM Books
            WHERE Year_published < 1950
    """

    cursor.execute(query)
    con.commit()

    cursor.close()

In [29]:
'''Add a new column called Rating to the Books table and update the data with the following values:'''
with sqlite3.connect('library.db') as con:
    cursor = con.cursor()
    add =""" 
            ALTER TABLE Books
            ADD COLUMN Rating;
        """
    update = """        
            UPDATE Books
            SET Rating = ?
            Where Title = ?
    """

    title1 = "To Kill a Mockingbird"
    rating1 = 4.8

    title2 = "1984"
    rating2 = 4.7

    title3 = 'The Great Gatsby'
    rating3 = 4.5

    cursor.execute(add)

    cursor.execute(update,(rating1,title1))
    cursor.execute(update,(rating2,title2))
    cursor.execute(update,(rating3,title3))

    con.commit()
    cursor.close()

In [30]:
'''Retrieve all books sorted by their Year_Published in ascending order.'''

with sqlite3.connect('library.db') as con:
    cursor = con.cursor()

    query = """ 
        SELECT *
        FROM Books
        ORDER BY Year_Published
    """
    cursor.execute(query)

    books = cursor.fetchall()

    for book in books:
        title, author, year_published, genre, rating = book
        print(f"Title: {title}\nAuthor: {author}\nYear Published: {year_published}\nGenre: {genre}\nRating: {rating}\n{'-'*30}")
    
    cursor.close()

Title: 1984
Author: George Orwell
Year Published: 1950
Genre: Dystopian
Rating: 4.7
------------------------------
Title: To Kill a Mockingbird
Author: Harper Lee
Year Published: 1960
Genre: Fiction
Rating: 4.8
------------------------------